{% extends 'base.html' %}
{% load static %}

{% block title %}
    Hells
{% endblock title %}

{% block content %}
        <!-- Banner Start -->
        <section class="page-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="round-shape"></span>
                        <h2 class="banner-title">About</h2>
                        <div class="bread-crumb"><a href="/">Home</a> / About</div>
                    </div>
                </div>
            </div>
        </section>    
        <!-- Banner End -->

        <!-- History Section Start -->
        <section class="history-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <h3 class="sec-title">О нас</h3>
                        <p>
                            Goru (ООО «Goru Ритейл») — российская компания, владелец розничной сети, специализирующейся на продаже компьютерной, цифровой и бытовой техники.
                            По итогам 2019 года стала 6-й крупнейшей ритейл-компанией в России, в 2021 году — 22-й крупнейшей частной компанией России.
                            В 2021 году сеть насчитывала более 2 тысяч магазинов. Штаб-квартира компании находится в городе Мытищи.
                        <a href="#" class="goru-btn">start now</a>
                    </div>
                    <div class="col-lg-5">
                        <div class="history-thumb">
                            <img src="assets/images/about/1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="row m-top-113">
                    <div class="col-lg-12">
                        <div class="video-banner" style="background-image: url(assets/images/about/video-bg.jpg);">
                            <a class="popup-video" href="https://www.youtube.com/embed/LXb3EKWsInQ" data-rel="lightcase"><i class="twi-play-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- History Section End -->

        <!-- Service Section Start -->
        <section class="service-section service-ab">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service">
                            <img src="assets/images/home/truck2.png" alt="">
                            <h4>Бесплатная доставка</h4>
                            <p>Доставка осуществляется от 50 тысячи рублей!</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service">
                            <img src="assets/images/home/headphone2.png" alt="">
                            <h4>24/7 работа магазина</h4>
                            <p>При совершении заказа с вами свяжется сотрудник для уточнение заказа</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service">
                            <img src="assets/images/home/undo2.png" alt="">
                            <h4>30 дней на возврат товара</h4>
                            <p>Если не был потерян вид нового товара</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service Section End -->

        <!-- Client Section Start -->
        <section class="client-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="client-logo owl-carousel">
                            <a href="#"><img src="assets/images/home/client-logo/1.png" alt=""></a>
                            <a href="#"><img src="assets/images/home/client-logo/2.png" alt=""></a>
                            <a href="#"><img src="assets/images/home/client-logo/3.png" alt=""></a>
                            <a href="#"><img src="assets/images/home/client-logo/4.png" alt=""></a>
                            <a href="#"><img src="assets/images/home/client-logo/5.png" alt=""></a>
                            <a href="#"><img src="assets/images/home/client-logo/1.png" alt=""></a>
                            <a href="#"><img src="assets/images/home/client-logo/2.png" alt=""></a>
                            <a href="#"><img src="assets/images/home/client-logo/3.png" alt=""></a>
                            <a href="#"><img src="assets/images/home/client-logo/4.png" alt=""></a>
                            <a href="#"><img src="assets/images/home/client-logo/5.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Client Section End -->
        {% endblock content %}
