{% extends 'base.html' %}
{% load static menu_tags cache %}


{% block title %}
    Hells
{% endblock title %}

{% cache 5000 index %}


{% block content %}

        <!-- Slider Start -->
        {% include 'top/top_nav.html' %}
        <!-- Slider Start -->

        <!-- Categories Section Start -->
        <section class="categorie-section-2">
                <div class="sec-heading rotate-rl"><span>Top</span> {{ product.name }} </div>
                <div class="container">
                    <div class="row">
                        {% get_list_category as list_category %}
                        {% for node in list_category %}
                        <div class="col-lg-4 col-md-6">
                            <a href="{% url 'product_list' node.slug %}" class="single-cate with-title">
                                <span>{{ node.name }}</a></span>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
        </section>
        <!-- Categories Section end -->
{% endblock content %}

{% endcache %}
